body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
	--bg: #242526;
	--bg-accent: #484a4d;
	--text-color: #dadce1;
	--nav-size: 60px;
	--border-radius: 8px;
	--speed: 500ms;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

#title {
	color: #dadce1;
	/* text-align: center; */
	align-self: center;
	margin: 0 auto;
	font-size: calc(var(--nav-size) * 0.5);
}

#astroslogo {
	padding: 5px;
}

.caption {
	border: solid 1px #242526;
	margin: 5px;
}

.navbar {
	height: var(--nav-size);
	background-color: var(--bg);
	border-bottom: var(--border);
	padding: 0 1rem;
	position: relative; /* Ensure relative positioning */
	z-index: 10000;
}

.navbar-nav {
	max-width: 100%;
	height: 100%;
	display: flex;
}

.nav-item {
	/* width: calc(var(--nav-size) * 0.8); */
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-button {
	--button-size: calc(var(--nav-size) * 0.5);
	width: calc(var(--button-size) * 1.25);
	height: var(--button-size);
	/* background-color: #484a4d; */
	/* border-radius: 50%; */
	/* padding: 5px; */
	/* margin: 2px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: var(--button-size);
	transition: filter 300ms;
}

.icon-button:hover {
	filter: brightness(0.6);
}

.icon-label {
	padding: 10px;
	/* text-align: center; */
}

.icon-button .svg-inline--fa {
	height: calc(var(--nav-size) * 0.75);
}

.menu-item .svg-inline--fa {
	height: calc(var(--nav-size) * 0.4);
}

.dropdown {
	position: absolute;
	top: 58px;
	width: 300px;
	transform: translateX(45%);
	background-color: var(--bg);
	border: var(--border);
	border-radius: var(--border-radius);
	padding: 1rem;
	overflow: hidden;

	transition: height var(--speed) ease;
}

.menu-item {
	height: 50px;
	display: flex;
	align-items: center;
	border-radius: var(--border-radius);
	transition: background var(--speed);
	padding: 0.5rem;
}

.menu-item:hover {
	background-color: #525357;
}

.icon-right {
	margin-left: auto;
}

.icon-left {
	margin-right: 10px;
}

/* first layer */
.menu-primary-enter {
	position: absolute;
	transform: translateX(-110%);
}

.menu-primary-enter-active {
	transform: translateX(0%);
	transition: all var(--speed) ease;
}

.menu-primary-exit {
	position: absolute;
}

.menu-primary-exit-active {
	transform: translateX(-110%);
	transition: all var(--speed) ease;
}

/* second layer part1*/
.menu-secondary-left-enter {
	position: absolute;
	transform: translateX(110%);
}

.menu-secondary-left-enter-active {
	transform: translateX(0%);
	transition: all var(--speed) ease;
}

.menu-secondary-left-exit {
	position: absolute;
}

.menu-secondary-left-exit-active {
	transform: translateX(-110%);
	transition: all var(--speed) ease;
}

/* second layer part2 */
.menu-secondary-right-enter {
	position: absolute;
	transform: translateX(-110%);
}

.menu-secondary-right-enter-active {
	transform: translateX(0%);
	transition: all var(--speed) ease;
}

.menu-secondary-right-exit {
	position: absolute;
}

.menu-secondary-right-exit-active {
	transform: translateX(-110%);
	transition: all var(--speed) ease;
}


/* third layer */
.menu-third-enter {
	/* position: absolute; */
	transform: translateX(110%);
}

.menu-third-enter-active {
	transform: translateX(0%);
	transition: all var(--speed) ease;
}

/* .menu-third-exit {
	position: absolute;
} */

.menu-third-exit-active {
	transform: translateX(110%);
	transition: all var(--speed) ease;
}

/* css for displaying data */

#display {
	display: flex;
	height: 100%;
	width: 100%;
}

.statesdata {
	display: flex;
	flex-direction: column;
	width: calc(50% - 20px);
	padding: 10px;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    color: rgb(151, 151, 151);
}

.mapTitle {
	text-align: center;
}

.mapTitle h2{
	display: inline-block;
	margin-right: 20px;
}

#onestate {
	display: flex;
	height: 100%;
	width: 100%;
}

.leftOneState {
	flex: 1;
	height: 1vh;
}

.rightOneState {
	flex: 1;
	height: 1vh;
}